* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #6C0AD9;
}

.navbar {
    display: flex;
    padding: 1.5rem 2rem;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    box-shadow: 0 0.1rem 0.5rem var(--main-color);
    overflow: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    width: 120px; /* Valor fixo para a largura em dispositivos móveis */
    height: auto; /* Ajuste automático da altura */
}

.navlist {
    display: none;
    align-items: center;
}

.mobile-menu-icon {
    display: block;
}

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    list-style: none;
}

.mobile-menu .navitem {
    padding-top: 1.2rem;
}

.mobile-menu {
    width: 100%;
    padding: 1rem 2rem;
}

.mobile-menu.open {
    display: block;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.navlink, .navlink-contato {
    text-decoration: none;
    font-size: 1.3rem;
    color: #000;
    transition: all 0.5s;
}

.navlink-contato {
    color: var(--main-color);
}

/* Estilos para dispositivos maiores */
@media screen and (min-width: 769px) {

    .logo {
        width: 180px;
    }

    .navlist {
        display: flex;
        flex: 1; 
        justify-content: flex-end; 
    }

    .navlist ul {
        display: flex;
        list-style: none;
        overflow: hidden;
        white-space: nowrap;
    }

    .navitem {
        margin: 1rem;
        flex-shrink: 1; 
    }

    .navlink, .navlink-contato {
        font-size: calc(0.5rem + 0.4vw);
      
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .icon {
        width: 24px;
        height: 24px;
    }
}
