.geral{
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: 100%;
}
.LinhasContainerH {
    display:grid;
}
.LinhasContainerH2 {
    margin-top: -1em;
    display:grid;
    
}
.LinhasContainer {
    margin-top: -1em;
    display:flex;
    height: 500px;
}

.LinhaH {
    height: 2px; 
    background: linear-gradient(#6C0AD9, #A41BF9, #D10DFA, #EB0DEB); 
    margin-bottom: 2px; 
}
.Linha {
    width: 2px; 
    background: linear-gradient(#6C0AD9, #A41BF9, #D10DFA, #EB0DEB); 
    margin-right: 2px; 
}
.LinhasContainerReta{
    margin-right: -0.1em;
    margin-top: -1em;
    display:flex;
    height: 300px;
    justify-content: flex-end;
}
.LinhasContainerG{
    margin-right: -0.1em;
    margin-top: -1em;
    display:flex;
    height: 920px;
}

@media screen and (min-width:425px) {
    .LinhasContainerReta{
        height: 260px;

    }

    .LinhasContainerG{
        height: 970px;
    }
}

@media screen and (min-width:768px) {
    .LinhasContainerG{
        height: 1050px;
    }
}

@media screen and (min-width:1024px){
    .LinhasContainerG{
        height: 1250px;
    }

    .LinhasContainer{
        height: 580px;
    }
}

@media screen and (min-width:1440px){
    .LinhasContainerG{
        height: 1380px;
    }

    .LinhasContainer{
        height: 775px;
    }

    .LinhasContainerReta{
        height: 320px;
    }
}

