.nossa-equipe-container {
    position: absolute;
    width: 90%;
    margin: 51em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    left: 2em;
    height: 850px;
}

.nossa-equipe-container h3 {
    margin: 0;
    text-align: right;
    font-size: 1.6em;
    width: 100%;
}

.nossa-equipe-container span {
    text-align: right;
    font-size: 0.8em;
    width: 100%;
    margin-bottom: 1em;
}

.equipe {
    color: #6C0AD9;
}

.grupo {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: 100%;
}

.pessoas {
    position: relative;
    padding: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pessoas img {
    object-fit: cover;
    border-radius: 70px;
    width: 118px;
    height: 118px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.grupoText{
    height: auto;
    width: 100px;
}

.conteudo {
    margin-top: -3em;
    transform: scale(0.9);
    height: 800px;
    min-width: 300px;
}

.pessoas h2 {
    font-size: 0.9em;
    color: #6C0AD9;
    margin-top: 0.5em;

}

.pessoas p {
    margin-top: 0.5em;
    font-size: 0.8em;
}

@media  screen and (min-width: 425px) {
    .pessoas img {
        width: 135px;
        height: 135px;
    }

    .pessoas h2{
        font-size: 1em
    }

    .pessoas p{
        font-size: 0.8em;
    }

    .nossa-equipe-container {
        margin: 49em auto;
    }

    .nossa-equipe-container h3 {
        margin: 0;
        text-align: center;
        font-size: 1.8em;
        width: 100%;
    }

    .grupoText{
        text-align: center;
        font-size: 14px;
    }

    span.texto1{
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    .pessoas img {
        width: 150px;
        height: 150px;
        border-radius: 85px;
    }

    .nossa-equipe-container h3 {
        font-size: 2em;
    }
    
    .nossa-equipe-container span {
        font-size: 1em;
    }

    .pessoas {
        padding: 1.3em;
    }

    .pessoas h2{
        font-size: 1.4em
    }

    .pessoas p{
        font-size: 1em;
    }

    .nossa-equipe-container {
        margin: 49em auto;
    }

    .grupoText{
        font-size: 16px;
    }
}

@media screen and (min-width:1024px) {
    .pessoas img {
        width: 180px;
        height: 180px;
        border-radius: 100px;
    }

    .pessoas {
        padding: 2.5em;
    }

    .pessoas h2{
        font-size: 1.2em
    }

    .pessoas p{
        font-size: 1.1em;
    }

    .nossa-equipe-container{
        margin-top: 54em;
    }

    .nossa-equipe-container h3 {
        font-size: 1.8em;

    }

    .grupoText{
        font-size: 1.2em;
    }

    span.texto1{
        font-size: 18px;
    }
}

@media screen and (min-width:1440px) {
    .pessoas img {
        width: 220px;
        height: 220px;
        border-radius: 120px;
    }

    .pessoas {
        padding: 2.5em;
    }

    .pessoas h2{
        font-size: 1.5em;
    }

    .pessoas p{
        font-size: 1.3em;
    }
    
    .nossa-equipe-container{
        margin-top: 73em;
    }
    
    .nossa-equipe-container h3 {
        font-size: 2.7em;

    }

    span.texto1{
        width: 100%;
        font-size: 1.7em;
    }

    .grupoText{
        width: 100%;
        font-size: 1.4em;
    }

}

@media screen and (min-width:2560px) {
    .pessoas img {
        width: 220px;
        height: 220px;
        border-radius: 120px;
    }

    .pessoas {
        padding: 4.3em;
    }

    .pessoas h2{
        font-size: 1.5em;
    }

    .pessoas p{
        font-size: 1.3em;
    }
    
    .nossa-equipe-container{
        margin-top: 85em;
    }
    
    .nossa-equipe-container h3 {
        font-size: 2.7em;
    }

    span.texto1{
        width: 100%;
        font-size: 1.7em;
    }

    .grupoText{
        width: 100%;
        font-size: 1.4em;
    }

}