.contain {
    position: relative;
    background-color: #fff;
    padding: 0 1em;
    text-align: center;
}

.textoPrincipal {
    position: relative;
    width: 100%;
    margin: 1em auto;
}

.NossosValores-container {
    max-height: 800px;
    margin-top: 620px;
    position: absolute;
    right: 3em;
    padding: 1.5em;
    width: 90%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.Valores {
    color: #6C0AD9;
    text-align: left;
    font-size: 1.2em;
    padding-right: 3em;
}

.texto {
    font-size: 0.7em;
    text-align: left;
    margin-top: 1em;
}

@media screen and (min-width: 1024px) {

    .texto {
        font-size: 1.2em;
        margin-top: 1em;
    }
    .Valores {
        font-size: 2em;
    }
    .NossosValores-container {
        right: 5em;
    }
}