:root {
    --main-color: #6C0AD9;
    --sub-color: #FFFFFF;
}

.contain {
    position: relative;
    background-color: var(--sub-color);
    padding: 0 1em;
    text-align: center;
}

.textoPrincipal {
    position: relative;
    width: 100%;
    margin: 1em auto;
}

.NossosValores-container {
    max-height: 800px;
    margin-top: 600px;
    position: absolute;
    right: 3em;
    padding: 1.5em;
    width: 90%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.Valores {
    color: var(--main-color);
    text-align: left;
    font-size: 1.2em;
    padding-right: 3em;
    margin-top: -100px;
}

.texto3 {
    font-size: 0.9em;
    text-align: left;
    margin-top: 1em;
    list-style: none;
}

.contain ul{
    margin-left: 19px;
}

@media screen and (min-width:768px) {
    .texto3{
        font-size: 1em;
    }

    .Valores{
        font-size: 1.6em;
    }
}

@media screen and (min-width:1024px) {
    .texto3 {
        font-size: 1.2em;
        margin-top: 1em;
    }
    .Valores {
        font-size: 2em;
    }
    .NossosValores-container {
        margin-top: 48em;
    }
}

@media screen and (min-width:1440px){
    .texto3 {
        font-size: 1.6em;
    }
    .Valores {
        text-align: left;
        font-size: 2.5em;
    }
    .NossosValores-container {
        margin-top: 66em;
    }    
}

@media screen and (min-width:1920px) {
    .texto3 {
        font-size: 1.6em;
    }
    .Valores {
        font-size: 2.5em;
    }
    .NossosValores-container {
        margin-top: 72em;
    }  
}

@media screen and (min-width:2100px) {
    .NossosValores-container {
        margin-top: 78em;
    }  
}



