.Valores {
    color: #6C0AD9;
    text-align: left;
    font-size: 1.3em; 
    padding-right: 3em;
}
.NossosValores-container{
    position: absolute;
    right: 2.5em;
    width: 90%; 
    margin: 27em auto ; 
    padding: 1.2em;
    display: flex;
    flex-direction: column; 
    z-index: 1; 
    max-height: 60vh;
    height: 100%;
}

.texto{
    font-size: 0.8em;
    text-align: left;
    margin-top: 1em; 
   
}

@media screen and (min-width: 592px) {
    .texto{
        font-size: 1em;
    }
}

@media screen and (min-width: 2560px) {
    .Valores{
        font-size: 1.7em;
    }
    .texto{
        font-size: 1.3em;
    }
}

@media screen and (min-width: 650px) {
    .NossosValores-container{
        margin: 30.5em auto ; 
    }
}

@media screen and (min-width: 706px) {
    .texto{
        font-size: 1.1em; 
    }

    .Valores{
        font-size: 1.4em
    }
}

@media screen and (min-width: 1023px){
    .NossosValores-container{
        
        margin: 33em auto ; 
       
    }
    
}
    





