#nossasSolu{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1.6em;
}
.solu{
    color: #6C0AD9;
}
.swiper-scrollbar {
    background-color: #6C0AD9;
}
.swiper-scrollbar-drag {
    background-color: #A41BF9; 
}
.btn{
    margin-top: 1em;
    background-color: #6C0AD9;
    border: none;
    padding: 1em 2em 1em 2em;
    border-radius: 20px;
    color: #fff;
    font-size: 0.9em;
}

.slide{
    width: 100%;
}

@media screen and (min-width:768px) {
    #nossasSolu h2{
        font-size: 2em;
    }

    #nossasSolu p{
        font-size: 1.2em;
    }

    #nossasSolu .texto{
        font-size: 1.2em;
    }

    .slide{
        width: 100%;
    }

    .btn{
        margin-top: 35px;
    }

    #nossasSolu{
        margin: 2em;
    }
}

@media screen and (min-width:1024px) {
    #nossasSolu h2{
        font-size: 2.1em;
    }

    #nossasSolu p{
        font-size: 1.3em;
    }

    .slide{
        width: 90%;
    }

    .swiper-scrollbar.swiper-scrollbar-horizontal{
        width: 85%;
        margin-left: 4em;
    }
    
    .texto{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btn{
        font-size: 16px;
        height: 50px;
        margin-top: 15px;
    }
}

@media screen and (min-width:1440px) {
    #nossasSolu h2{
        font-size: 2.5em;
    }

    #nossasSolu p{
        padding: 10px;
        font-size: 1.5em;
    }

    .slide{
        width: 90%;
    }

    .swiper-scrollbar.swiper-scrollbar-horizontal{
        width: 85%;
        margin-left: 4em;
    }
    
    .textoslide{
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5em;
    }

    .btn{
        height: 70px;
        width: 380px;
        font-size: 23px;
    }
}

@media screen and (min-width:1440px) {
    #nossasSolu h2{
        font-size: 2.7em;
    }

    #nossasSolu p{
        padding: 10px;
        font-size: 1.7em;
    }

    .slide{
        width: 1700px;
        height: 750px;
    }

    .swiper-scrollbar.swiper-scrollbar-horizontal{
        width: 68%;
        margin-left: 23em;
    }
    
    .textoslide{
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5em;
    }

    .btn{
        height: 70px;
        width: 380px;
        font-size: 23px;
    }
}