.contain {
    position: relative; 
    background-color: #fff;
    padding: 0 1em; 
    text-align: center;
}

.section-container {
    position: relative;
    width: 100%; 
    margin: 1em auto; 
}

.sobre-nos-container {
    position: absolute;
    left: 2.5em;
    width: 90%; 
    margin: 2em auto; 
    padding: 1.2em;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    z-index: 1; 
    height: 400px;
}

#SobreNos h3 {
    font-size: 1.2em;
    margin-top: 0; 
    color: #000;
    white-space: nowrap;
}

.empresa {
    color: #6C0AD9;
}

.texto1, .texto2 {
    font-size: 0.8em;
    text-align: right;
    margin-top: 1em; 
}

.texto2 {
    font-size: 0.7em;
}

#SobreNos img {
    width: 100%; 
    margin-top: 1em;
    border-radius: 0px 10px; 
    height: 200px; 
}

@media screen and (min-width: 300px){
    #SobreNos img{
        height: 300px;
    }

    .texto1, .texto2 {
        font-size: 1em;
        
    }

    .sobre-nos-container {
       padding-top: 15vh;
    }


@media screen and (min-width: 1024px){
    
    #SobreNos img{
        height: 20vh;
        width: 60vw;
    }
    
    .sobre-nos-container {
        margin: -5em auto; 
    }
    
}

}